{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/typescript"
    ],
    "plugins": ["add-module-exports"]
}
